<!-- navbar.html -->
<div class="navbar" id="navbar">
  <div class="logo" onclick="window.location.href='index.html'">MyGallery</div>
    <div class="menu-toggle" id="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-links" id="nav-links">
    <li><a href="index.html">Album</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  <a href="logout.html" class="logout-btn" id="logoutBtn">Logout</a>
</div>
<script>
// document.addEventListener("DOMContentLoaded", () => {
//   const toggle = document.getElementById("menu-toggle");
//   const links = document.getElementById("nav-links");

//   if (toggle && links) {
//     toggle.addEventListener("click", () => {
//       links.classList.toggle("active");
//     });
//   }
// });
// document.addEventListener("click", function (e) {
//   const toggle = document.getElementById("menu-toggle");
//   const links = document.getElementById("nav-links");

//   if (e.target.closest("#menu-toggle")) {
//     links.classList.toggle("active");
//   }
// });
</script>